.sliders-container {
    display: inline-flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5%;
    width: 60%;
}
.slider-container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: clamp(15px, 1vw, 20px);
}
.slider-bar {
    width: 50%;
    background: #ddd;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
}
.slider-strip {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: #FFFF00;
    transition: height 0.3s ease-in-out;
}
.slider h4 {
    margin: 10px 0 0;
    text-align: center;
}